<header class="top">
  <div class="container">
    <%= link_to image_tag('go_logo.svg', {:title => 'GoCD Logo', :alt => 'GoCD Logo'}), '/index.html', {:class => 'logo', "analytics-label" => 'logo'} %>
    <nav class="mainnav">
      <ul class="level0">
        <li><%= link_to 'Features', '/why-gocd/index.html' , :class => 'link_whygocd', "analytics-label" => "link_whygocd" %></li>
        <li><%= link_to 'Documentation', 'https://docs.gocd.org/current/', :target => '_blank', "analytics-label" => "link_help>link_documentation" %></li>
        <li><%= link_to 'Blog', '/blog/index.html' ,:class => ' ', "analytics-label" => "Blog" %></li>

        <li class="dropdown"><%= link_to 'Enterprise', "/enterprise" ,:class => 'link_enterprise', "analytics-label" => "Enterprise" %>
          <ul class="level1 mobile-nav">
            <li><%= link_to 'Overview', '/enterprise'%></li>
            <li><%= link_to 'Add-ons', '/enterprise/addons'%></li>
            <li><%= link_to 'Support', '/enterprise/support'%></li>
            <li><%= link_to 'Pricing', '/enterprise/pricing'%></li>
            <li><%= link_to 'Contact', '/enterprise/contact'%></li>
          </ul>
        </li>
      </ul>        
    </nav>
    <button class="navbtn menu collapse">
    <span></span>
    </button>
  </div>
</header>
<span id="top"></span>
