---
title: GoCD Events
title_tag_of_header: "Events, Webinars, and Demos | GoCD"
meta_description: "Attend GoCD's upcoming events, demos, webinars and learning sessions to help you get a view of the capabilities of our continuous delivery tool."
meta_keywords: "GoCD, continuous delivery, open source, community, events, learning sessions, webinars, product demos"
---
<div class="inner-banner plugins">
  <div class="container">
    <div class="banner-content">
      <h1 class="caption"><span>Webinars and Events</span></h1>
    </div>
  </div>
</div>
<main>
<div class="demos">
  <div class="container">
    <h3>Webinars and Demos</h3>
    <p>
      The learning sessions are designed to help you get an overall view of the capabilities of GoCD and answer questions around how to configure your GoCD instance.
    </p>
    <ul class="demo-list">
      <% data.webinars.each do |webinar| %>
      <li>
          <div class="box swing">
            <div class="datebox">
              <span class="month"><%= webinar.month %> <%= webinar.day %></span>
              <span class="time"><%= webinar.time %>
                <span class="location"><%= webinar.location %></span>
              </span>
              <a href="<%= webinar.url %>" class=" button-small">Register</a>
            </div>
          </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="event">
  <div class="container">
    <h3 class="page-headings">Events</h3>
    <ul class="events-list">
      <% data.events.each do |event| %>
      <li>
        <div class="details">
          <a href="<%= event.url %>" class="title"><%= event.title %></a>
          <p><%= event.description %></p>
          <ul class="dates">
            <% event.details.each do |detail| %>
            <li>
              <div class="date"><i class="fa fa-calendar"></i> <%= detail.date %></div>
              <div class="location"><i class="fa fa-map-marker"></i> <%= detail.location %></div>
            </li>
            <% end %>
          </ul>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>
</main>
